@model LiveDemo.Models.WayToSayNo
@{
    ViewData["Title"] = "Has Donald Trump been impeached yet?";
}

<div class="page-header text-center">
    <h1>Has Donald Trump been impeached yet?</h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
        <h1>@Model.Text</h1>
    </div>
</div>
